.container:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  background-color: rgb(160, 227, 252);
    transform: translateY(-1vmax);
  }
  .buttoni{
   
    margin-bottom: 10px;
  }
.buttoni:hover {

color:black ;
  
  }


  @media screen and (max-width: 600px) {
    .maincomponent {
      height: unset;
    
    }}